<!doctype html>
<html>
    <head>
        <title>EXPENSE Manager</title>
    <head>
    <body>
        <header>Expense Manager</header>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Account</a>
            <a href="">Options</a>
            <a href=""></a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
       
        {% block content %}{% endblock %}
    </body>
    <footer>
        <p>Copyright Devnexx 2022</p>
    </footer>
</html>
