{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h2>Recent Entries</h2>
        </div>
    </div>
    <div>
        <div>
            <h2>Summary</h2>
            <h3>Filter by</h3>
            <select name="choice" id="choice">
                <option value="categories">Categories</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
            </select>
        </div>
    <div>
        <a href="">New Entry</a>
    </div>
    </div>    
    <div><p>EXPENSE</p></div>
</div>
<div>
    <div>
        <h2>Chart Summary</h2>
        <label><input type="radio" id="expense" name="chart_type" value="expense">Expense</label>
        <label><input type="radio" id="income" name="chart_type" value="income">Income</label>
    </div>
</div>
{% endblock %}
